$appBarcolor: #26a69a;
$highlightColor: #00897b;
$darkcolor: #00796b;
$cardheight: 400px;
.loginComponent {
  background-color: $appBarcolor !important;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: calc((100vh - 400px) / 2);
  .logincard {
    height: $cardheight;
    // width: 400px;
    margin: auto;

    .MuiCard-root {
      height: 100%;
    }
    .cardheader {
      background-color: $darkcolor !important;
      height: 100px;
      text-transform: uppercase;
      color: white !important;
      font-size: 30px;
      font-weight: bold;
      line-height: 3.3;
      text-align: center;
      letter-spacing: 6px;
    }
    .cardform {
      text-align: center;
      button{
        background-color: $appBarcolor !important;
        color: white;
        margin-top: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        width:100px;
      }
      .fieldwrapper{
        margin-top:10px
      }
      .fieldwrapper:first-child{
        margin-top:25px
      }
      .errormsg{
        margin-top: 20px;
        color:red;
      }
    }
  }
}
